HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=.local
# PostgreSQL
POSTGRES_DB=webstudio
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
# PGREST
PGRST_LOG_LEVEL=info
PGRST_SERVER_HOST=pgrest.local
PGRST_SERVER_PORT=3000
PGRST_HOST="http://${PGRST_SERVER_HOST}:${PGRST_SERVER_PORT}"
PGRST_DB_URI="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db.local:5432/${POSTGRES_DB}"
PGRST_DB_PRE_CONFIG=postgrest.pre_config
PGRST_JWT_SECRET=
# App webstudio builder
DEV_LOGIN=true
AUTH_SECRET=123456
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db.local:5432/webstudio?pgbouncer=true"
DIRECT_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db.local:5432/webstudio"
POSTGREST_URL=$PGRST_HOST
# JWT token, decode using jwt.io. Encoded with PGRST_JWT_SECRET from docker-compose.yml
POSTGREST_API_KEY=""
